
@media (max-width: 575.98px) {


	///////////navbar/////////////


	#navbar{
		.navbar-brand{
			font-size: 26px;
		}
		.navbar-toggler{
			font-size: 16px;
			&:hover{
				border: 1px solid #fff;
			}
		}
		.nav-link{
			font-size: 14px;
			line-height: 16px;
			&:visited{
			}
			&:hover{
				font-size: 14px;
				color: red;
			}
			&:active{
				color:red;
			}
		}	
	}

	
	///////////back to top/////////////


	#back-to-top{
		bottom:10px;
		right: 10px;
	}

	
	///////////main_header/////////////


	#main-header{
		margin: 0 !important;
		height: 70%;
		width: 100%;
		.content-box{
			transform: translate(-50%, -80%);
			&_main{
				.display-2{
					font-size: 46px !important;
				}
			}
			&_sub{
				font-size: 14px;
				margin-bottom: 2rem;
			}
			&_btn{
				.btn{
					&:link,
					&:visited {
						padding: 5px 15px;
					}
				}
			}
		}
	}

	
	///////////services/////////////

	
	///////////team/////////////
	#teams{
		display: none;
	}
		
	// 	padding: 0 !important;
	// 	margin: 0 !important;
	// 	.team-title {
	// 		h2{
	// 			margin-top:-3rem;
	// 			padding-top: 20px;
	// 			font-size: 26px;
	// 		} 
	// 	}
	// 	.our-team {
	// 		margin-bottom: 20px;
	// 		padding: 20px 0 30px;
	// 		border-radius: 33px;
	// 		.pic {
	// 			display: inline-block;
	// 			width: 140px;
	// 			height: 140px;
	// 			margin-bottom: 14px;
	// 		}
	// 		.team-content {
	// 			margin-bottom: 25px;
	// 			.post {
	// 				margin-bottom: 24px;
	// 			}
	// 			.about-me{
	// 				display: none;
	// 			}
	// 		}

	// 		.social {
	// 			li{
	// 				a {
	// 					padding: 7px;
	// 					font-size:18px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	#works{
		display: none;

	}
	#services{
		padding: 0 !important;
		margin: 0 !important;
		.services-title {
			padding:15px 0 0;
			margin: 0 !important;
			h2{
				margin: 0 !important;
				font-size: 28px;
			}
		}
	.align-self-center{
		ul{
margin-top: 0 !important;
		li{
				margin-left: 20px;	
			font-size: 16px;
			text-align:left;
			color: #6D08A4;
			line-height: 5px;	
			i{
				color: #6E1918;
				font-size: 	20px;
			}
		}
	}
	}
	.col-md-8{
		height: 300px;
		.img-holder{
		background-image: url("../img/services/img02.jpg");
		background-attachment: scroll;
		 background-size: cover;
		 background-position: center;
		background-repeat: no-repeat;
	}
	
	
}
}
	#testmonial{
		display: none;

	}


////contact  section/////



 #pricing{
// 	margin: 0 !important;
// 	padding: 0 !important;
// 	.section-title{
// 		h2{
//   margin: 20px 0 !important;
// 		}
// 	}
display: none;

// .card{
// 	overflow: hidden;
// 	position: relative;
// 	max-width: 250px;
// 	max-height: auto;
// 	background: linear-gradient(-45deg, #fe0847, #feae3f);
// 	border-radius:15px;
// 	margin: 0 auto;
// 	padding: 20px 10px;
// 	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
// 	transition: all .5s;
// 	&:hover{
// 	transform: scale(1.1);
// }
// &:before{
// 	content: '';
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 10%;
// 	background: rgba(255,255,255,.1);
// 	z-index: 1;
// 	transform: skewY(-5deg) scale(1.9);
// }
// & a{
// 	position: relative;
// 	z-index: 2;
// 	background-color: #fff;
// 	color: #A565E6;
// 	text-align: center;
// 	line-height: 40px;
// 	border-radius: 40px;
// 	text-decoration: none;

// 	width: 150px;
// 	height: 40px;
// 	display: block;
// 	margin: 20px auto 0;
// 	font-size: 16px;
// 	cursor: pointer;
// &:hover{
// 	text-decoration: none;
// 	box-shadow: 0 5px 10px rgba(0,0,0,0.3)
	
// }
// }
// }
// .col-sm-4:nth-child(1) .card,
// .col-sm-4:nth-child(1) .card .title .fas{
// 	background: linear-gradient(-45deg, #f403d1, #64b5f6)
// }
// .col-sm-4:nth-child(2) .card,
// .col-sm-4:nth-child(2) .card .title .fas{
// 	background: linear-gradient(-45deg, #ffec61, #e841d9)
// }
// .col-sm-4:nth-child(3) .card,
// .col-sm-4:nth-child(3) .card .title .fas{
// 	background: linear-gradient(-45deg, #36fc1d, #7151ff)
// }
// .title{
// 	h2{
// 	position: relative;
// 	margin: 20px 0 0;
// 	padding: 0;
// 	color: #fff;
// 	font-size: 28px;
// 	z-index:2;
// }
// .fas{
// 	color: #fff;
// 	font-size: 60px;
// 	width: 100px;
// 	height: 100px;
// 	border-radius: 50%;
// 	text-align: center;
// 	line-height: 100px;
// 	box-shadow: 0 10px 10px rgba(0,0,0,.1);
// }
// 	} 
// .price{
// 	position: relative;
// 	z-index: 2;
// 	 h4{
// 	margin: 0;
// 	padding: 20px 0;
// 	color: #fff;
// 	font-size: 60px;
// }
// }
// .option{
// 	position: relative;
// 	z-index: 2;
// 	ul{
// 	margin: 0;
// 	position: relative;
// 	li{
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// 	color: #fff;
// 	font-size: 16px;
// } 
// }
// }
// }

}

////contact  section/////



	#contact{
		padding: 0 !important;
		.contact-title{
			h2{
				margin: 0 !important;
				padding: 30px 0;
			}
			
		}
		.contact-box{
			padding:0px;
			text-align: center;
			padding: 15px 5px 10px;
			.p-address{
				// h3{
				// 	font-size: 24px;
				// }
				padding: 0;
				float:center;
				text-align: center;
				padding-bottom: 15px;
				display: inline-block;
				line-height:15px;
				.social-link{
					


					a{
						text-decoration: none;
						color: #fff;
						&:hover{
							color: #838484;
						}
					} 

				}
			}
		}
		.col-md-6{
			.form-group{
				small{
					display: none;
					
				}
			}
		}

	}
	#main-footer{
		background-color: rgba(0,0,0,0.7);
		text-align:center;
		padding: 5px;
		color:#f4f4f4;
		a{
			text-decoration: none;
			color: #8192EF;
			&:hover{
				color: #8374D5;
			}
		}
	}



}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}